.Applayout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  scroll-behavior: none;
}

* {
  padding: 0;
  margin: 0;
}

.content-container {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
}
.createinvoice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.app {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.client-page-add-button {
  height: 40px;
  width: 40px;
  padding-top: 2px;
}

.client-page-add-button:hover {
  color: #8d8a8a;
}

.editClientButton {
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background-color: #2e2e2e;
  cursor: pointer;

  font-weight: 600;
  color: #ffffff;
  padding: 5px;
}

.editClientButton:hover {
  background-color: #5a514d;
  box-shadow: 0 0 10px 0px #00000093;
}

.editClientButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.settingsModal {
  width: fit-content;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #8d8a8a93;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientCard:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
  transform: translate(0, 1px);
  box-shadow: inset 0 1px 0px 0px #8d8a8a93;
}

.addContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
}

.editClientModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.addClient {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.client {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  flex-direction: column;
}

.clientName {
  font-size: 1.2rem;
  font-weight: 600;

  text-align: start;
}

.clientCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.clientCard img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
}

.clientImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.clientNotes {
  font-size: 1rem;
  font-weight: 400;
  cursor: default;
  color: rgb(117, 101, 101);
}

.client h2 {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: default;
}

.logo {
  height: 200px;
  width: 220px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}

.hr {
  width: 80%;
}

.add-client {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 40px;
  width: 40px;
}

.add-client:hover {
  color: #8d8a8a;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  flex-direction: column;
}

.headeraccount {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  gap: 10px;
}

.headeraccount-name {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: default;
}

.headeraccount-arrow {
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.headeraccount-arrow:hover {
  background-color: #bbbbbb;
  box-shadow: 0 0 10px 0px #55555593;
}

.headeraccount-text {
  font-size: 1rem;
  font-weight: 400;
  cursor: default;
}

.headeraccount-avatar {
  height: 50px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
  padding: 10px;

  height: 100dvh;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.NavLink {
  cursor: pointer;
  text-align: center;
}

.NavLink:hover {
  background-color: rgba(117, 117, 117, 0.349);
  border-radius: 30px;
  transform: translate(0, 1px);
  box-shadow: inset 0 1px 0px 0px #8d8a8a93;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clientImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.clientContainer {
  position: relative;
}

.client-delete-button {
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 10;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  border: 1px solid #e0e0e0;
  background-color: #812f0e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.client-delete-button:hover {
  background-color: #812f0e;
  box-shadow: 0 0 10px 0px #8d8a8a93;
}

.editClientModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.clientsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: 100%;
}

.settingsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: 100%;
}

.settingsFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 100%;
  height: 100%;
}

.settingsModalImageContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settingsModalNameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settingsModalCompanyNameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.editClientModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.editClientModalContent {
  background-color: #fff;
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hourlyEditDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.add-client-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-client-form-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background-color: white;
}

.settingsModalContent {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.settingsUsername {
  font: 1.2rem;
}

.settingsEmail {
  font: 1rem;
}

.settingsButton {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #812f0e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.add-client-form input:focus {
  outline: none;
  border: 1px solid #8d8a8a;
}
.add-client-form input::placeholder {
  font-size: 0.8rem;
  font-weight: 400;
}
.add-client-form input:focus::placeholder {
  color: #8d8a8a;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.invoice-form-container {
  display: flex;
  justify-content: start;
  align-items: center;

  flex-direction: column;
}

.invoice-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #8d8a8a93;
}

.invoice-form-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
}

.form-Datepicker {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.form-invoice-reason {
  width: 100%;
  display: flex;
  justify-content: start;

  align-items: center;
}

.form-client-title {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.form-extra-title {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.form-amount {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.extraLabel {
  display: flex;
  justify-content: start;

  align-items: center;
  text-wrap: nowrap;
}

.form-extra-charge {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.extraCharge {
  display: flex;
  justify-content: start;
  align-items: center;
  text-wrap: nowrap;
}

.extraButton {
  color: white;
  background-color: rgb(0, 60, 128);
  border: none;
  border-radius: 30px;
  padding: 5px;
}

.formSubmitButton {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background-color: #0e8118;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

#Extra-charge {
  width: 100%;
  margin-left: 28px;
}
#invoiceReason {
  width: 100%;
}

#Extra-label {
  width: 100%;
}

.extra-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.extra-content {
  width: 100%;
}
.remove-extra {
  width: 30px;
  height: 30px;
  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background-color: #812f0e;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

#date {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #505050;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 20px;
}

#Client {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #505050;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 30px;
}

#amount {
  width: 100%;
  margin-left: 18px;
}

.header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
}

.home {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.homeClientTotalsListTitle {
  display: flex;
  justify-content: center;
}

.homeClientTotalsList {
  display: flex;

  gap: 20px;
  width: 100%;
}

.clientRate {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.homeClientCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.loginRegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #8d8a8a93;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loginRegisterTitle {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
  text-align: center;
  width: 100%;
}

.loginRegisterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginform {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.registerform {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}

.emailcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.imagecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.passwordcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.confirmpasswordcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.signInRegisterSubmitButton {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #0e8118;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.signInRegisterSubmitButton:hover {
  background-color: #0e8118;
  box-shadow: 0 0 10px 0px #8d8a8a93;
}

.toggleRegisterLoginButton {
  width: fit-content;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  background-color: #0e4481;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.toggleRegisterLoginButton:hover {
  background-color: #0e4481;
  box-shadow: 0 0 10px 0px #8d8a8a93;
}

.YardManagerLogo {
  height: 200px;
  width: 200px;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rateInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkBox {
  margin-top: 20px;
  height: 14px;
  width: 20px;
}

.clientPay {
  display: flex;
  justify-content: space-between;
}
